{% extends 'manager/base.html' %}

{% block title %}
    DMOnline - map
{% endblock %}

{% block content %}
    <style type="text/css">
        #allmap {width: 85%;height: 800px;overflow: hidden;margin-left: 185px;margin-top:40px;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=n19zGiKvK7S8Bu0H44rhVtSL4q4eeMXh"></script>
    <body>
    <div id="allmap" ></div>
    </body>
    <script type="text/javascript">
    var allmappoi={{ cor_json|safe }};

    //地图初始化
    var bm = new BMap.Map("allmap",{});
    bm.centerAndZoom(new BMap.Point(108.953581,34.265713),15);
    bm.enableScrollWheelZoom(true);

    if(document.createElement('canvas').getContext){
        var points=[];
        for(var i=0;i<allmappoi.length;i++){
            points.push(new BMap.Point(allmappoi[i]['longitude'],allmappoi[i]['latitude']));
        }
        var options = {
            size: BMAP_POINT_SIZE_SMALLER,
            shape: BMAP_POINT_SHAPE_CIRCLE,
            color: '#d340c3'
        }
        var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
        pointCollection.addEventListener('click', function (e) {
          alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
        });
        bm.addOverlay(pointCollection);  // 添加Overlay
    }else {
        alert("请在Chrome上查看");
    }




    </script>

{% endblock %}