<!DOCTYPE html>
{% load staticfiles %}
<html class="login-bg">
<head>
	<title>DMOnline - Sign up</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap-overrides.css'%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/elements.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/font-awesome.css' %}" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static 'css/compiled/signup.css' %}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
    <div class="header">
        <a href="index.html">
            <img class="logo" />
        </a>
    </div>
    <div class="row-fluid login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <h1>注册</h1>
                    <hr>
                <input name="username" required id="id_username" class="span12" type="text" placeholder="账号" />
                <input name="email" required id="id_email" class="span12" type="text" placeholder="E-mail" />
                <input name="password" required id="id_password" class="span12" type="password" placeholder="密码" />
                <input name="password2" required id="id_password2" class="span12" type="password" placeholder="确认密码" />
{#                <div class="action">#}
                    <input type="submit" class="btn-glow primary signup" value="注册">
{#                    <a class="btn-glow primary signup" href="index.html">注册</a>#}
{#               </div>#}
                </form>

{#                <div class="action">#}
{#                    <a class="btn-glow primary signup" href="index.html">注册</a>#}
{#                </div>                #}
            </div>
        </div>

        <div class="span4 already">
            <p>已有账户?</p>
            <a href="{% url 'manager:signin' %}">登录</a>
        </div>
    </div>

	<!-- scripts -->
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

</body>
</html>